$header-footer-color: #0A0A3C;
$header-title-color: #FFFFFF;
$title-page-background-color: #D9D9D9;
$main-text-color: #000000;
$main-title-color: #377DC0;
$table-border-color: #77A7D4;
$border-color: #EEF3F7;

$main-font: 'Koh Santepheap', serif;
$header-title-font: 'Inter', sans-serif;

$main-font-size: 24px;
$title-page-font-size: 64px;

$main-font-weight: 400;

* {
    color: $main-text-color;
    font-family: $main-font;
    font-size: $main-font-size;
    font-weight: $main-font-weight;
}

input {
    border: none;

    textarea:focus,
    &:focus {
        outline: none;
    }
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    display: flex;
    height: 69px;
    padding: 0 32px;
    justify-content: space-between;
    align-items: center;
    background-color: $header-footer-color;

    &--logo {
        width: 25px;
        height: 25px;
    }

    &--title {
        color: $header-title-color;
        font-family: $header-title-font;
        font-size: 18px;
        margin-top: 10px;
        word-spacing: 32px;
    }
}

.title-page {
    background-color: rgba($title-page-background-color, 0.5);
    height: 137px;
    display: flex;
    justify-content: center;

    &--text {
        padding-top: 34px;
        width: 70%;
        font-size: $title-page-font-size;
    }
}

main {
    display: flex;
    justify-content: center;
    flex: 1;
}

.page-body {
    width: 70vw;
    margin-top: 62px;
}

.grid-title-container {
    border-bottom: 3px solid $border-color;
    margin-bottom: 26px;

    &--text {
        padding-bottom: 23px;
        color: $main-title-color;
        font-weight: 1000;
    }
}

.search-customer-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 53px;

    &--input {
        height: 63px;
        border-radius: 6px;
        background: rgba($title-page-background-color, 0.5);
        margin-top: 3px;
        padding-left: 12px;
    }
}

.table-container {
    position: relative;
    width: 100%;

    &__customer-table {
        width: inherit;
        border-collapse: collapse;

        th,
        td {
            padding-left: 42px;
            border: 1px solid $table-border-color;
        }

        tbody tr {
            height: 44px;

            &.input-row {
                input {
                    width: 99%;
                    height: 100%;
                    background-color: transparent;
                }

                input[type="date"]::-webkit-inner-spin-button,
                input[type="date"]::-webkit-calendar-picker-indicator {
                    display: none;
                    -webkit-appearance: none;
                }
            }

            td:last-child {
                width: 25vh;
            }
        }

        &--btn-edit {
            cursor: pointer;
            position: absolute;
            margin-left: 26px;
            margin-top: 5px;
        }

        &--btn-remove {
            cursor: pointer;
            position: absolute;
            margin-left: 68px;
            margin-top: 5px;
        }

        &--btn-add {
            cursor: pointer;
            position: absolute;
            margin-left: 26px;
            margin-top: 5px;
        }
    }
}

.footer {
    min-height: 137px;
    background-color: $header-footer-color;
    display: flex;
    align-items: center;
    margin-top: 10%;

    &--text {
        color: $title-page-background-color;
        font-size: 24px;
        font-weight: 700;
        margin-left: 32px;
        margin-top: 10px;
    }
}

@media only screen and (max-width: 1050px) {
    .table-container {
        overflow-x: auto;
    }
}