<body>
    <header class="header">
        <img src="/assets/img/logo-rhitmo.png" class="header--logo" alt="Logo da Rhitmo">
        <p class="header--title">Lista o cadastro</p>
    </header>

    <section class="title-page">
        <p class="title-page--text">Cadastro</p>
    </section>

    <main>
        <form class="form-body" [formGroup]="registerForm" #formDir="ngForm" (ngSubmit)="registerClient()">
            <div class="form-body__field">
                <label for="customerName">Nome</label>
                <input type="text" [(ngModel)]="name" class="form-body__field--input" placeholder="Digite seu nome"
                    formControlName="name" required>
                <p *ngIf="validateField('name')" class="form-body__field--error-message">O nome é obrigatório</p>
            </div>

            <div class="form-body__field">
                <label for="customerEmail">Email</label>
                <input type="text" [(ngModel)]="email" class="form-body__field--input"
                    placeholder="Digite seu melhor e-mail" formControlName="email" required>
                <p *ngIf="validateField('email')" class="form-body__field--error-message">O e-mail é obrigatório</p>
                <p *ngIf="validateEmail()" class="form-body__field--error-message">E-mail inválido</p>
            </div>

            <div class="form-body__field">
                <label for="customerCpf">Cpf</label>
                <input type="text" [(ngModel)]="cpf" (ngModelChange)="formatCpf()" class="form-body__field--input"
                    placeholder="Digite CPF aqui" formControlName="cpf" [maxlength]="cpfMaxLength" required>
                <p *ngIf="validateField('cpf')" class="form-body__field--error-message">O CPF é obrigatório</p>
                <p *ngIf="validateCpf()" class="form-body__field--error-message">CPF inválido</p>
            </div>

            <section class="form-body__location">
                <div class="form-body__location--container">
                    <div class="form-body__field">
                        <label for="customerAddress">Endereço</label>
                        <input type="text" [(ngModel)]="address" class="form-body__field--input"
                            placeholder="Digite endereço" formControlName="address" required>
                        <p *ngIf="validateField('address')" class="form-body__field--error-message">O endereço é
                            obrigatório</p>
                    </div>
                </div>

                <div class="form-body__location--container">
                    <div class="form-body__field">
                        <label for="customerState">Estado</label>
                        <select (change)="setState($event)" class="form-body__field--select"
                            [ngStyle]="{color: state ? '#000000' : '#A9A9A9'}" formControlName="state" required>
                            <option [value]="0">Selecione o Estado</option>
                            <option *ngFor="let state of stateDictionary | keyvalue" [value]="state.key">{{ state.value
                                }}</option>
                        </select>
                        <p *ngIf="validateState()" class="form-body__field--error-message">O estado é
                            obrigatório</p>
                    </div>
                </div>

                <div class="form-body__location--container">
                    <div class="form-body__field">
                        <label for="customerCep">CEP</label>
                        <input type="text" [(ngModel)]="cep" (ngModelChange)="formatCep()"
                            class="form-body__field--input" placeholder="00.000 - 000" formControlName="cep"
                            [maxlength]="cepMaxLength" required>
                        <p *ngIf="validateField('cep')" class="form-body__field--error-message">O CEP é
                            obrigatório</p>
                    </div>
                </div>

                <div class="form-body__location--container">
                    <div class="form-body__field">
                        <label for="customerCity">Cidade</label>
                        <select (change)="setCity($event)" class="form-body__field--select"
                            [ngStyle]="{color: city ? '#000000' : '#A9A9A9'}" formControlName="city">
                            <option [value]="0">Selecione a Cidade</option>
                            <option *ngFor="let city of cityDictionary | keyvalue" [value]="city.key">{{ city.value
                                }}</option>
                        </select>
                        <p *ngIf="validateCity()" class="form-body__field--error-message">A cidade é
                            obrigatória</p>
                    </div>
                </div>
            </section>

            <div class="form-body__payment-container">
                <div class="form-body__payment-container__title">
                    <p class="form-body__payment-container__title--text">Forma de pagamento</p>
                </div>

                <div class="form-body__payment-container__radios">
                    <div class="form-body__payment-container__radios__option">
                        <svg (click)="changePaymentMethod(1)" class="form-body__payment-container__radios__option--icon"
                            xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21" fill="none"
                            style="margin-top: 3px;">
                            <circle cx="10.5" cy="10.5" [attr.r]="isCreditCard ? '7' : '9.75'" fill="white"
                                stroke="#377DC0" [attr.stroke-width]="isCreditCard ? '7' : '1.5'" />
                        </svg>
                        <label for="creditCardOption" class="form-body__payment-container__radios__option--text">Cartão
                            de crédito</label>
                    </div>

                    <div class="form-body__payment-container__radios__option">
                        <svg (click)="changePaymentMethod(2)" class="form-body__payment-container__radios__option--icon"
                            xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21" fill="none"
                            style="margin-top: 3px;">
                            <circle cx="10.5" cy="10.5" [attr.r]="isCreditCard ? '9.75' : '7'" fill="white"
                                stroke="#377DC0" [attr.stroke-width]="isCreditCard ? '1.5' : '7'" />
                        </svg>
                        <label for="creditCardOption" class="form-body__payment-container__radios__option--text">Boleto
                            Bancário</label>
                    </div>
                </div>

                <section *ngIf="isCreditCard" class="form-body__credit-card-container">
                    <!-- <div class="form-body__credit-card-container__name">
                        <div class="form-body__field">
                            <label for="customerCardHolderName">Nome do cartão</label>
                            <input type="text" [(ngModel)]="cardHolderName" class="form-body__field--input"
                                placeholder="Nome impresso no cartão" formControlName="cardHolderName">
                            <p *ngIf="validateField('cardHolderName')" class="form-body__field--error-message">
                                O nome do cartão é obrigatório
                            </p>
                        </div>
                    </div>

                    <div class="form-body__credit-card-container__date">
                        <div class="form-body__credit-card-container__date__field">
                            <label for="customerCardExpirationMonth">Data de Expiração</label>
                            <select (change)="setCardExpirationMonth($event)" class="form-body__field--select"
                                [ngStyle]="{color: cardExpirationMonth ? '#000000' : '#A9A9A9'}"
                                formControlName="cardExpirationMonth">
                                <option [value]="0">Mês</option>
                                <option *ngFor="let month of monthDictionary | keyvalue" [value]="month.key">{{
                                    month.value
                                    }}</option>
                            </select>
                            <p *ngIf="validateMonth()" class="form-body__field--error-message">O mês é obrigatório</p>
                        </div>

                        <div class="form-body__credit-card-container__date__field">
                            <label for="customerCardExpirationYear"></label>
                            <select (change)="setCardExpirationYear($event)" class="form-body__field--select"
                                [ngStyle]="{color: cardExpirationYear ? '#000000' : '#A9A9A9'}"
                                formControlName="cardExpirationYear">
                                <option [value]="0">Ano</option>
                                <option *ngFor="let year of yearDictionary | keyvalue" [value]="year.key">{{ year.value
                                    }}</option>
                            </select>
                            <p *ngIf="validateYear()" class="form-body__field--error-message">O ano é obrigatório</p>
                        </div>
                    </div> -->

                    <section class="form-body__card-info">
                        <div class="form-body__location--container">
                            <div class="form-body__field">
                                <label for="customerCardNumber">Número do cartão</label>
                                <input type="text" [(ngModel)]="cardNumber" (ngModelChange)="formatCardNumber()"
                                    class="form-body__field--input" placeholder="0000 0000 0000 0000"
                                    formControlName="cardNumber" maxlength=19 required>
                                <p *ngIf="validateField('cardNumber')" class="form-body__field--error-message">O número
                                    do cartão é obrigatório</p>
                                <p *ngIf="validateCardNumber()" class="form-body__field--error-message">Número do cartão
                                    inválido</p>
                            </div>
                        </div>


                        <div class="form-body__location--container">
                            <div class="form-body__field">
                                <label for="customerCardSecurityCode">Código de Segurança</label>
                                <input type="text" [(ngModel)]="cardSecurityCode" class="form-body__field--input"
                                    placeholder="XXX" formControlName="cardSecurityCode" maxlength=3 required>
                                <p *ngIf="validateField('cardSecurityCode')" class="form-body__field--error-message">O
                                    código de segurança do cartão é obrigatório</p>
                                <p *ngIf="validateCardSecurityCode()" class="form-body__field--error-message">Código de
                                    segurança cartão inválido</p>
                            </div>
                        </div>
                    </section>
                </section>
            </div>

            <div class="form-body__submit">
                <label for="cardMessage" *ngIf="isCreditCard">Seu cartão será debitado em R$ 49,00</label>
                <label for="bankSlipMessage" *ngIf="!isCreditCard">Seu boleto será enviado por e-mail</label>
                <br>

                <button class="form-body__submit--button" (click)="teste()">REALIZAR MATRÍCULA</button>
                <p class="form-body__submit--info-message">Informações seguras e criptografadas</p>
            </div>
        </form>
    </main>

    <footer class="footer">
        <p class="footer--text">Guilherme Machado Santana - 2022</p>
    </footer>
</body>