<body>
    <header class="header">
        <img src="/assets/img/logo-rhitmo.png" class="header--logo" alt="Logo da Rhitmo">
        <p class="header--title">Lista o cadastro</p>
    </header>

    <section class="title-page">
        <p class="title-page--text">Cadastro</p>
    </section>

    <main>
        <form class="form-body">
            <div class="form-body__field">
                <label for="customerName">Nome do cliente</label>
                <input type="text" class="form-body__field--input" placeholder="Digite seu nome">
            </div>
        </form>
    </main>

    <footer class="footer">
        <p class="footer--text">Guilherme Machado Santana - 2022</p>
    </footer>
</body>