$header-footer-color: #0A0A3C;
$header-title-color: #FFFFFF;
$title-page-background-color: #D9D9D9;
$main-text-color: #000000;
$main-form-color: #377DC0;
$error-message-color: #ff0000;
$border-color: #EEF3F7;

$main-font: 'Koh Santepheap', serif;
$header-title-font: 'Inter', sans-serif;

$main-font-size: 24px;
$title-page-font-size: 64px;
$error-message-font-size: 20px;

$main-font-weight: 400;

* {
    color: $main-text-color;
    font-family: $main-font;
    font-size: $main-font-size;
    font-weight: $main-font-weight;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

input,
select {
    border: none;

    textarea:focus,
    &:focus {
        outline: none;
    }
}

body {
    background-color: rgb(48, 46, 46);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    display: flex;
    height: 69px;
    padding: 0 32px;
    justify-content: space-between;
    align-items: center;
    background-color: $header-footer-color;

    &--logo {
        width: 25px;
        height: 25px;
    }

    &--title {
        color: $header-title-color;
        font-family: $header-title-font;
        font-size: 18px;
        margin-top: 10px;
        word-spacing: 32px;
    }
}

.title-page {
    background-color: rgba($title-page-background-color, 0.5);
    height: 137px;
    display: flex;
    justify-content: center;

    &--text {
        padding-top: 34px;
        width: 70%;
        font-size: $title-page-font-size;
    }
}

main {
    display: flex;
    justify-content: center;
    flex: 1;
}

.form-body {
    width: 70vw;
    margin-top: 66px;

    &__field {
        display: flex;
        flex-direction: column;
        margin-bottom: 19px;

        &--input {
            height: 63px;
            border-radius: 6px;
            background: rgba($title-page-background-color, 0.5);
            margin-top: 3px;
            padding-left: 12px;
        }

        &--error-message {
            color: $error-message-color;
            font-size: $error-message-font-size;
        }

        &--select {
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            height: 63px;
            background: rgba($title-page-background-color, 0.5);
            background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='100' viewBox='0 0 24 24' width='67' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
            background-repeat: no-repeat;
            background-position-x: 97.5%;
            background-position-y: -17px;
            border-radius: 6px;
            margin-right: 2rem;
            padding-left: 12px;
            width: 100%;
            margin-top: 3px;
        }
    }

    &__location {
        display: flex;
        flex-wrap: wrap;

        &--container {
            flex: 0 0 50%;

            &:nth-child(odd) {
                padding-right: 12px;
            }

            &:nth-child(even) {
                padding-left: 12px;
            }
        }
    }

    &__payment-container {
        &__title {
            margin-top: 14px;
            border-bottom: 3px solid $border-color;
            margin-bottom: 30px;

            &--text {
                padding-bottom: 10px;
                color: $main-form-color;
                font-weight: 1000;
            }
        }

        &__radios {
            display: flex;
            position: relative;
            margin-bottom: 42px;

            &__option {
                &--icon {
                    cursor: pointer;
                    position: absolute;
                    top: 5px;
                }

                &--text {
                    margin-left: 35px;
                }


                &:nth-child(even) {
                    margin-left: 116px;
                }
            }
        }
    }

    &__credit-card-container {
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 5px;
        border-bottom: 3px solid $border-color;
        margin-bottom: 50px;

        &__name {
            flex: 0 0 50%;
            padding-right: 12px;
        }

        &__date {
            padding-left: 12px;
            display: flex;
            flex: 0 0 50%;

            &__field {
                flex: 0 0 50%;

                &:nth-child(odd) {
                    padding-right: 12px;
                }

                &:nth-child(even) {
                    padding-left: 12px;
                }
            }
        }
    }

    &__card-info {
        display: flex;
        flex: 0 0 100%;
    }

    &__submit {
        display: inline-block;

        &--button {
            margin-top: 16px;
            color: #FFF;
            background-color: $main-form-color;
            width: 73.58%;
            height: 58px;
            justify-content: center;
            align-items: center;
            border-radius: 12px;
            border: none;
        }

        &--info-message {
            margin-top: 19px;
            font-size: 14px;
            margin-bottom: 63px;
        }
    }
}

.footer {
    min-height: 137px;
    background-color: $header-footer-color;
    display: flex;
    align-items: center;

    &--text {
        color: $title-page-background-color;
        font-size: 24px;
        font-weight: 700;
        margin-left: 32px;
        margin-top: 10px;
    }
}

@media only screen and (max-width: 1300px) {
    .form-body {
        width: 90vw;

        &__location {
            &--container {
                flex: 0 0 100%;
    
                &:nth-child(odd) {
                    padding-right: 0;
                }
    
                &:nth-child(even) {
                    padding-left: 0;
                }
            }
        }

        &__credit-card-container {
            display: flex;
            flex-wrap: wrap;
            padding-bottom: 5px;
            border-bottom: 3px solid $border-color;
            margin-bottom: 50px;
    
            &__name {
                flex: 0 0 100%;
                padding: 0;
            }

            &__date {
                flex: 0 0 100%;
                padding: 0;

                &__field {
                    flex: 0 0 50%;
    
                    &:nth-child(odd) {
                        padding-right: 5px;
                    }
    
                    &:nth-child(even) {
                        padding-left: 5px;
                    }
                }
            }
        }

        &__card-info {
            flex-wrap: wrap;
        }
    }
}

